@import '../../../../../styles/variables.scss';

.profile {
  &__details {
    margin: 0;
  }

  &__label,
  &__value {
    margin-left: 0;
  }

  &__label {
    font-weight: bold;
    line-height: 1.5;

    &::after {
      content: ":";
    }
  }

  .profile__value + .profile__label {
    margin-top: 1em;
  } 
}