<div class="profile">
  <div class="profile__header profile__inner">
    <h2 class="profile__heading">
      My Profile
    </h2>
    <button class="btn" routerLink="/my-profile/edit">Edit</button>
  </div>
  <div class="profile__body profile__inner">
    <dl class="profile__details" *ngIf="(user$ | async) as user">
      <dt class="profile__label">Name</dt>
      <dd class="profile__value">
        <span>{{ user.firstName }}</span>&nbsp;<span>{{ user.lastName }}</span>
      </dd>
      <dt class="profile__label">Avatar Image Url</dt>
      <dd class="profile__value">
        {{ user.image }}
      </dd>
      <dt class="profile__label">Average Number of Hours to Game Per Day</dt>
      <dd class="profile__value">
        {{ user.averageNumberOfHoursPerDay }}
      </dd>
    </dl>
  </div>
</div>
