<div class="profile">
  <app-feature-header text="My Profile">
    <app-button routerLink="/my-profile/edit">Edit</app-button>
  </app-feature-header>
  <app-card>
    <dl class="profile__details" *ngIf="(user$ | async) as user">
      <dt class="profile__label">Name</dt>
      <dd class="profile__value">
        <span>{{ user.firstName }}</span>&nbsp;<span>{{ user.lastName }}</span>
      </dd>
      <dt class="profile__label">Avatar Image Url</dt>
      <dd class="profile__value">
        {{ user.image }}
      </dd>
      <dt class="profile__label">Average Number of Hours to Game Per Day</dt>
      <dd class="profile__value">
        {{ user.averageNumberOfHoursPerDay }}
      </dd>
    </dl>
  </app-card>
</div>
