@import '../../../../../styles/variables.scss';

.profile {
  .btn {
    background-color: #d6dbdf;
    border: none;
    border-radius: 0.25rem;
    color: $blue;
    font-size: 1.4rem;
    margin-left: 10px;
    padding: 10px 80px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;

    &--secondary {
      background-color: $green;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &:disabled {
      background-color: grey;
    }
  }

  &__form {
    margin: 0;

    &__element {
      margin-bottom: 1em;
    }

    &__input {
      background-color: $text-light;
      border: none;
      font-size: 1em;
      padding: 5px;
      width: 350px;
    }

    &__label {
      display: block;
      margin-bottom: 5px;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__inner {
    background-color: $blue;
    border-radius: 0.5rem;
    color: $text-light;
    padding: 1em;

    & + .profile__inner {
      margin-top: 1em;
    }
  }

  &__label,
  &__value {
    margin-left: 0;
  }

  &__label {
    font-weight: bold;
    line-height: 1.5;
  }

  .profile__value + .profile__label {
    margin-top: 1em;
  } 
}