@import '../../../../../styles/variables.scss';

button {
  background-color: $text-light;
  border: none;
  border-radius: 0.25rem;
  color: $blue;
  font-size: 1.4rem;
  margin-left: 10px;
  padding: 10px 80px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;

  &.primary {
    background-color: $green;
  }

  &.secondary {
    background-color: $red;
    color: $text-light;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:disabled {
    background-color: grey;
  }
}