/* variables */
$bg-color: #9dafbd;
$primary-highlight: #1e2e3b;
$text-dark: #1e2e3b;
$text-light: #d6dbdf;

/* layout */
html {
  font-size: 62.5%;
}

body {
  color: $text-dark;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  margin: 0;
}

header, 
footer {
  background-color: $primary-highlight;
  color: $text-light;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

* > * {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  background-color: $bg-color;
  flex: 1;
  padding: 1.5em 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1366px;
  width: 100%;
}