@import '../styles/variables.scss';

/* variables */
$bg-color: $light-blue;
$primary-highlight: $dark-blue;

/* layout */
html {
  font-size: 62.5%;
}

body {
  color: $text-dark;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  margin: 0;
}

header, 
footer {
  background-color: $primary-highlight;
  color: $text-light;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

image {
  max-width: 100%;
}

* > * {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  background-color: $bg-color;
  flex: 1;
  padding: 1.5em 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1366px;
  width: 100%;
}

.visually-hidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}