<div class="edit-game edit-game__form-element">
  <form 
    class="edit-game__form" 
    *ngIf="(game$ | async) as game" 
    [formGroup]="editGame" 
    (ngSubmit)="onSubmit()">
    <app-feature-header text="Edit Game">
      <div class="edit-game__buttons">
        <button class="btn btn--success btn--secondary" type="submit" [disabled]="!editGame.valid">Save</button>
        <button class="btn btn--danger" (click)="onDelete($event)">Delete</button>
        <button class="btn btn--primary" (click)="onCancel($event)">Cancel</button>
      </div>
    </app-feature-header>
    <div class="edit-game__body edit-game__inner">
      <div class="edit-game__form__element">
        <label class="edit-game__form__label" for="name">Name</label>
        <input class="edit-game__form__input" type="text" name="name" formControlName="name" />
        <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
        </div>      
      -->
      </div>
      <div class="edit-game__form__element">
        <label class="edit-game__form__label" for="image">Image URL</label>
        <input class="edit-game__form__input" type="text" name="image" formControlName="image" />
      </div>
      <div class="edit-game__form__element">
        <label class="edit-game__form__label" for="platformId">PlatformId</label>
        <select class="edit-game__form__input" type="number" name="platformId"
          formControlName="platformId">
          <option [ngValue]="0" selected="selected">Choose a platform...</option>
          <option *ngFor="let platform of (platforms$ | async)" [ngValue]="platform.id">
            {{ platform.name }}
          </option>
        </select>
      </div>
      <div class="edit-game__form__element">
        <label class="edit-game__form__label" for="numberOfHoursToComplete">Number of Hours to Complete</label>
        <input class="edit-game__form__input" type="number" name="numberOfHoursToComplete" formControlName="numberOfHoursToComplete" />
      </div>
      <div class="edit-game__form__element">
        <label class="edit-game__form__label" for="priority">Priority</label>
        <input class="edit-game__form__input" type="number" name="priority"
          formControlName="priority" />
      </div>
      <div class="edit-game__form__element">
        <label class="edit-game__form__label" for="numberOfHoursPlayed">Hours Played</label>
        <input class="edit-game__form__input" type="number" name="numberOfHoursPlayed"
          formControlName="numberOfHoursPlayed" />
      </div>
      <div class="edit-game__form__element">
        <label class="edit-game__form__label" for="isComplete">Complete</label>
        <input class="edit-game__form__input edit-game__form__input--checkbox" type="checkbox" name="isComplete" formControlName="isComplete" />
      </div>
    </div>
  </form>
</div>