@import '../../../../../styles/variables.scss';

.games {

  &__body {
    display: grid;
    grid-auto-rows: minmax (min-content, 1fr);
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }

  &__details {
    margin: 0;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__inner {
    background-color: $blue;
    border-radius: 0.5rem;
    color: $text-light;
    padding: 1em;

    & + .games__body {
      margin-top: 1em;
    }
  }
}