.game {
  background-color: #30495f;
  border-color: #b43f3f;
  border-style: solid;
  border-width: 0;
  border-left-width: 15px;
  color: #d6dbdf;
  height: 100%;
  padding: 1em;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #455B6F;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.5);
  }

  &.completed {
    border-color: #76b43f;
  }

  &.started {
    border-color: #b48c3f;
  }

  &.notStarted {
    border-color: #b43f3f;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 100px;
  }

  &__link {
    color: inherit;
    display: block;
    text-decoration: none;
  }

  &__stat {
    font-weight: bold;

    &--light {
      color: #9dafbd;
      font-weight: normal;
    }
  }

  &__thumbnail {
    display: block;
    max-width: 100%;
    width: 100px;
  }
}