.nav {
  background-color: #30495f;

  &__link {
    color: inherit;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

    &--active {
      background-color: #405e78;
    }

    &:hover {
      color: white;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}